* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background-color: #fff;
}
.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  align-content: space-around;
  width: 100%;
  padding-top: 20px;

  margin-left: 10px;
  margin-right: 10px;
}

.navigation-container input {
  outline: 0;
  border: 0;

  border: rgba(0, 0, 0, 0.2) solid 1px;
  padding: 3px 10px 3px 10px;

  width: 350px;

  background-image: url(../content/icons/ico_search.svg);
  background-position: 325px;
  background-repeat: no-repeat;
  background-size: 15px;
}

@media (max-width: 800px) {
  .navigation-container input {
    width: 200px;
  }
}
@media (max-width: 500px) {
  .navigation-container input {
    width: 150px;
  }
}

.links-container {
  margin-bottom: 20px;
}
.links-container li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;

  font-weight: 600;
}
.links-container ul {
  margin-left: 30px;
}
.links-container li i {
  margin-left: 4px;
  vertical-align: top;
}

/* Container categories */

.container-categories {
  width: 100%;
}
.container-categories i {
  font-size: 13px;
  color: #292929;
  vertical-align: baseline;
  margin-right: 3px;
}
@media (max-width: 800px) {
  .container-categories ul {
    /* display: none; */
  }
}
.container-categories ul li {
  display: inline-block;
  margin-left: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* horizontal line */
.horizontal-line {
  border: 0;
  border-bottom: rgba(0, 0, 0, 0.03) 1px solid;
}

/* order count */

.container-order-count table {
  width: 80%;
  margin-left: 16px;
  margin-bottom: 25px;
}
@media (max-width: 800px) {
  .container-order-count table {
    font-size: 12px;
  }
}
.container-order-count table tr td {
  padding-bottom: 10px;
}
.container-order-count table tr:nth-child(2) {
  font-weight: 600;
}

.container-order-progress {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 4px;

  font-weight: 500;
  margin-bottom: 7px;
}
@media (max-width: 800px) {
  .container-order-progress {
    font-size: 12px;
  }
}

.container-order-progress .progress {
  height: 7px;
}
.container-order-progress .progress .progress-bar {
  background-color: #292929;
}
.container-order-progress table {
  width: 100%;
}
.container-order-progress table td {
  padding-right: 30px;
  width: 50%;
}

/* order details */

.container-order-detail {
  margin: 40px 40px 100px 40px;
}
@media (max-width: 800px) {
  .container-order-detail {
    margin: 10px 10px 100px 10px;
  }
}

.container-order-detail p {
  font-weight: 600;
}

/* #726DB0 */
.container-order-detail th {
  color: #726db0;
  font-weight: 600;

  padding-bottom: 10px;
}
.container-order-detail table {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .container-order-detail table {
    font-size: 10px;
  }
}

.container-order-detail table tr {
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}
.container-order-detail table tr td {
  padding-top: 10px;
  padding-bottom: 5px;
}
.container-order-detail .to-deliver-bill span {
  background-color: #ff4f58;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 30px;
  font-weight: 600;
}
.container-order-detail .completed span {
  background-color: #5b936b;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 30px;
  font-weight: 600;
}
.container-order-detail .to-bill span {
  background-color: #f8c859;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 30px;
  font-weight: 600;
}

.container-order-detail .details input[type="button"] {
  background-color: #99d364;
  border-radius: 2px;
  padding: 6px;
  border: 0;
  color: #fff;
}
/* end order details */
